version: 2.1

orbs:
  mac: circleci/macos@2.0.1

jobs:
  build:
    macos:
      xcode: 12.5.0
    steps:
      - run:
          name: Check shell
          command: echo $SHELL
      # - run:
      #     name: Check make using zsh
      #     command: |
      #       zsh -c '/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -sdk '' -find make 2> /dev/null'
      # - run:
      #     name: Check make using sh
      #     command: |
      #       sh -c '/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -sdk '' -find make 2> /dev/null'
      - run:
          name: Check make using bash
          command: |
            bash -c '/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -sdk '' -find make 2> /dev/null' || :
      - run:
          name: Check using bash default
          command: /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -sdk '' -find make 2> /dev/null
workflow:
  build:
    jobs:
      - build